$fontsizeUnit: 1rem/16;
$fontColor: #6394f7;
$bgBlue: rgb(58,139,222);
$bgBalck: rgba(0,0,0,0.6);
$bgWhite: rgba(255,255,255,0.3);
$bgBlueOpacity: rgba(58,139,222,.7);
$bgBalckOpacity: rgba(0,0,0,.7);
$bgGrey: #999999;
$backBlack:#000E19;
$colorWhite: #fff;
$borderCCC: 1px solid rgba(204,204,204, .2);